<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.BoardMapper">
    <resultMap id="board" type="board">
        <id column="bno" property="bno"/>
        <result column="title" property="title"/>
        <result column="write_date" property="writeDate"/>
        <result column="write_update_date" property="writeUpdateDate"/>
        <result column="bcount" property="bcount"/>
        <result column="blike" property="blike"/>
        <result column="bhate" property="bhate"/>
        <result column="content" property="content"/>
        <result column="id" property="id"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="selectBoardList" resultMap="board">
        select * from
        (select
        row_number() over(order by bv.bno desc) as rw, bv.*
        from board_view bv)
        where ceil(rw / #{pageContentEa}) = #{pageNo}
    </select>
    <select id="selectBoardTotalCount" resultType="int">
        select count(*)
        from board_view
    </select>
    <select id="selectBoard" resultMap="board">
        select * from board_view where bno = #{bno}
    </select>

    <select id="selectCommentList" resultType="comment">
        <![CDATA[
        select * from
        (select row_number() over(order by cno desc) as rw, bcv.*
        from board_comment_view bcv where bno = #{bno})
        where rw <= #{page} * 5
        ]]>
    </select>
    <select id="selectFileList" resultType="file">
        select * from
        board_file where bno = #{bno}
    </select>
    <insert id="insertBoardLike">
        insert into board_content_like(bno, id)
        values(#{bno},#{id})
    </insert>
    <delete id="deleteBoardLike"> delete from board_content_like where bno = #{bno}
        and id = #{id}
    </delete>
    <select id="selectBoardLikeHateCount" resultType="map">
        select
        (select
        count(*) from board_content_like where bno = #{bno}) as blike,
        (select
        count(*) from board_content_hate where bno = #{bno}) as bhate
        from dual
    </select>
    <insert id="insertBoardHate">
        insert into board_content_hate(bno, id)
        values(#{bno},#{id})
    </insert>
    <delete id="deleteBoardHate">
        delete from board_content_hate
        where bno = #{bno} and
        id = #{id}
    </delete>
    <insert id="insertBoardCommentLike">
        insert into board_comment_like(cno, id)
        values(#{cno}, #{id})
    </insert>
    <delete id="deleteBoardCommentLike">
        delete from board_comment_like
        where cno = #{cno} and id = #{id}
    </delete>
    <select id="selectBoardCommentLikeHateCount" resultType="map">
        select
        (select count(*) from board_comment_like where cno = #{cno}) as clike,
        (select count(*) from board_comment_hate where cno = #{cno}) as chate
        from dual
    </select>
    <insert id="insertBoardCommentHate">
        insert into board_comment_hate(cno, id)
        values(#{cno}, #{id})
    </insert>
    <delete id="deleteBoardCommentHate">
        delete from board_comment_hate
        where cno = #{cno} and id = #{id}
    </delete>
    <delete id="deleteBoard">
        delete from board where bno = #{bno} and id = #{id}
    </delete>
</mapper>