<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>학생 정보 관리 페이지</h2>
    <div class="container">
        <table>
            <caption>
                <h3>학생 정보</h3>
            </caption>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학과명</th>
                    <th>평점</th>
                    <th>성별</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <table>

        </table>
    </div>
</body>
</html>