<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax 테스트 예제</title>
    <script>
        // btn_ajax 버튼 클릭 시 ajax 호출
        // 호출 경로 : /member/ajax/list
        // 데이터는 형식 : list : [회원 정보...], msg : "성공 메시지"
        // 출력은 result 클래스에 출력
      window.onload = function() {
        document.querySelector('.btn_ajax').onclick = () => {
          fetch('/member/ajax/list')
            .then(response => response.json())
            .then(data => {
              console.log(data);
            });

        }
      }
    </script>
</head>
<body>
  <button class="btn_ajax">ajax 호출</button>
  <hr>
  <div class="result"></div>
</body>
</html>